.whitespacecontainer{
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
}

.whitespace{
    width: 700px;
    background-color: white;
    padding: 50px;
    margin-left: 100px;
    margin-top: -400px;
    height: 600px;
}

.logo {

    background:url(logo.png);
    background-size: cover;
    size: large;
    width:200px;
    
    height:200px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    }

.profilelogo {
    background:url(logo.png);
    background-size: cover;
    width:200px;
    
    height:200px;
    right: 200px;

    display: block;
}

.profile {
    position: absolute;
    top: 200px;
    right: 200px;
    font-size: 10px;
    font-weight: light;
  
    top: 0px;

}

.buttons {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.siteheaders {
    position: absolute;
    right: 50px;
    left: 750px;
    top: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    

    font-size: 10px;
    font-weight: light;

}

    